.container {
  display: grid;
  grid-template-rows: auto; /* 600px smartphone height ? */
  grid-template-columns: 1fr 3fr; /* 480px smartphone width */
  grid-template-areas: 
    'header header'
    'main aside'
    'footer footer';
}

.item1 {
  grid-area: header;
  background-color: aqua;
}

.item2 {
  grid-area: main;
  background-color: rgb(194, 80, 28);
}

.item3 {
  grid-area: aside;
  background-color: rgb(28, 150, 38);
}

.item4 {
  grid-area: footer;
  background-color: rgb(74, 33, 168);
}

