.student {
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  align-items: center;
  align-content: center;
}

.student p{
  margin: 0;
}